@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.wrapper{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
   
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body { 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.746), rgba(0, 0, 0, 0.808)), url(img/space.gif);    
    background-position: 100% -35vh;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#textoi{
    /* background-color: pink; */
    /* overflow: hidden; */

    margin-top: 50vh;
    width: 100%;
    margin-top: 120px;
    

    text-align: center;
}

#texto2{
    /* background-color: pink; */
    /* overflow: hidden; */

    margin-left: 30%;
    margin-bottom: 10px;

    width: 40%;
    text-align: center;
}

a {
    color: inherit;  
    text-decoration: none;
}

h1 {
    font-family: 'Boogaloo';
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 9px;
    text-shadow: 2px 2px 18px black;
}

a {

    background-color: #d32525;
    
    color: white;
    text-align: center;

    padding: 10px 50px;
    border: none;
    cursor: pointer;
    
    font-family: 'Boogaloo';
    font-weight: 100;

    font-size: 14px;
    border-radius: 15px;


}

a:hover {
    background-color: seashell;
    color:rgb(0, 0, 0);
    transition-duration: 0.5s;
}


/* //Telas 1080p */
/* //Telas monitor */

@media only screen and (max-width: 1920px) {


    #textoi{
        /* background-color: pink; */
        margin-top: 45vh;
        width: 100%;
        text-align: center;
    }

    #textoi > h1{
        font-size: 35px;
        width: 80%;
    }

    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .spotify{
        border-radius: 12px;
        width: 46%;
        height: 170px; 
    
        margin-top: 5px;
        /* margin-bottom: 5px; */
    }

}

/* //Telas 768p e 720p*/
/* //Telas monitor */

@media only screen and (max-width: 1366px) {


    #textoi{
        /* background-color: pink; */
        
        margin-top: 42vh;
        width: 100%;
        text-align: center;
    }

    #textoi > h1{
        font-size: 35px;
        width: 80%;
    }

    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .spotify{
        border-radius: 12px;
        width: 50%;
        height: 170px; 
    
        margin-top: 5px;
        /* margin-bottom: 5px; */
    }
}

/* //Telas 768 */
/* //Telas iPad */

@media only screen and (max-width: 768px) {

    body { 
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.746), rgba(0, 0, 0, 0.808)), url(img/fp\ mobile.gif);    
        background-position: center -11vh;
    }

    
    #textoi{
        /* background-color: pink; */
        
        margin-top: 40vh;
        width: 100%;
        text-align: center;
    }

    #textoi > h1{
        font-size: 28px;
        width: 80%;
    }
    
    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }

    .spotify{
        border-radius: 12px;
        width: 70%;
        height: 158px; 
        
    }
}


/* //Telas 415 */
/* //Telas iPhoneXR */

@media only screen and (max-width: 415px) {


    #textoi{
        /* background-color: pink; */
        
    
        width: 100%;
        text-align: center;
    }

    #textoi > h1{
        font-size: 25px;
        width: 80%;
    }
    
    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
        /* background-color: red; */
    }

    .spotify{
        border-radius: 12px;
        width: 100%;
        height: 200px; 
        
    }

}

/* //Telas 360 */
/* //Telas iPhoneX */

@media only screen and (max-width: 375px) {


    #textoi{
        /* background-color: pink; */
        
        margin-top: 15vh;
        width: 100%;
        text-align: center;
    }

    #textoi > h1{
        font-size: 25px;
        width: 60%;
        /* background-color: red; */
    }
    
    #texto2 {
        margin: auto;
        width: 86%;

        margin-top: 5px;
        margin-bottom: 15px;
    }

    .spotify{
        border-radius: 12px;
        width: 70%;
        height: 170px; 
        
    }

}