@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.795) 16.67%, rgba(0, 0, 0, 0.767) 55.73%, rgba(0, 0, 0, 0.829) 90.62%), url(./img/bate.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h2,
p {
  font-family: 'Indie Flower';
  color: white;
}


section {
  height: 100vh; 
}

#box_291 {

margin-bottom: 10px;
font-size: 30px;
text-align: center;

/* background-color: blue; */
/* padding: 15px 500px 15px 500px; */

}

#box_291 > h2 {
font-size: 142px;
margin-bottom: 0%;
padding-bottom: 0%;
}

#box_291 > p {
  font-size: 40px;
  width: 100%;
  }

  input{
    margin-top: 15px;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;

    font-size: 30px;
    font-family: 'Indie Flower';
    font-weight: 600;
    
    cursor: pointer;
    text-decoration: none;

    color: black;

    background-color: rgb(0, 217, 255);
  }

  input:hover{
    background-color: rgb(0, 159, 187);
  }

  #stitch_cry{
    text-align: center;
    width: 35%;
  }

  #stitch_cry > p {
    text-align: center;
    font-size: 30px;

    width: 86%;
  }

  #cry {
    padding: 5px;
    width: 290px;
  }


  @media only screen and (max-width: 360px) {

    body{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.795) 16.67%, rgba(0, 0, 0, 0.767) 55.73%, rgba(0, 0, 0, 0.829) 90.62%), url(./img/hands.gif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .wrapper {
      max-width: 1440px;
      width: 100vw;
    }

    .flex{
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    section {
      height: 100%; 
    }

    #box_291{
      padding-bottom: 20px;
    }

    #stitch_cry{
      text-align: center;
      width: 1%;
      /* background-color: red; */
    }

    #cry {
      padding: 5px;
      width: 150px;
    }


  }

  @media only screen and (max-width: 600px) {

    body{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.795) 16.67%, rgba(0, 0, 0, 0.767) 55.73%, rgba(0, 0, 0, 0.829) 90.62%), url(./img/hands.gif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 60%;
    }

    section {
      height: 100%; 
    }

    .wrapper {
      max-width: 1440px;
      width: 100vw;
    }


    .flex{
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    #stitch_cry{
      text-align: center;
      width: 75%;

      padding: 15px;
    }

    #stitch_cry > p {
      font-size: 20px;
    }

    #cry {
      padding: 5px;
      width: 200px;
    }


  }

  @media only screen and (max-width: 739px) {

    body{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.795) 16.67%, rgba(0, 0, 0, 0.767) 55.73%, rgba(0, 0, 0, 0.829) 90.62%), url(./img/hands.gif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 60%;
    }

    section {
      height: 100%; 
    }


    .flex{
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    #box_291{
    margin-top: 100px ;
      margin-bottom: 100px;
    }

    #box_291 > h2{
      font-size: 90px;
    }

    #box_291 > p{
      font-size: 30px;
      width: 60%;
    }

    #stitch_cry{
      text-align: center;
      padding-bottom: 50px;
    }

    #stitch_cry > p {
      font-size: 30px;
      width: 95%;
    }

    #cry {
      padding: 5px;
      width: 250px;
    }
  }

  @media only screen and (max-width: 1366px) {

    #box_291 > h2{
      font-size: 80px;
    }

    #box_291 > p{
      font-size: 30px;
    }

    #stitch_cry > p {
      font-size: 20px;
      width: 80%;
    }

    #cry {
      width: 200px;
      height: auto;
    }


  }