#texto{
    /* background-color: pink; */

    width: 50%;
    /* Centralizar texto */
    margin-left: auto;
    margin-right: auto;
    /* Centralizar texto */

    text-align: center;
}

/* //Telas 1080p */
/* //Telas monitor */

@media only screen and (max-width: 1920px) {


    #texto{
        /* background-color: pink; */
        
        margin-top: 38vh;
        width: 100%;
        /* background-color: red; */
    
        
        /* Centralizar texto */
        margin-left: auto;
        margin-right: auto;
        /* Centralizar texto */
    
        text-align: center;
    }

    #texto > h1{
        font-size: 35px;
        width: 80%;
    }

    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .spotify{
        border-radius: 12px;
        width: 46%;
        height: 170px; 
    
        margin-top: 5px;
        /* margin-bottom: 5px; */
    }

}

/* //Telas 768p e 720p*/
/* //Telas monitor */

@media only screen and (max-width: 1366px) {


    #texto{
        /* background-color: pink; */
        
        margin-top: 30vh;
        width: 68%;
        /* margin-top: 35vh; */
        text-align: center;
    }

    #texto > h1{
        font-size: 35px;
        width: 80%;
    }

    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .spotify{
        border-radius: 12px;
        width: 50%;
        height: 170px; 
    
        margin-top: 5px;
        /* margin-bottom: 5px; */
    }
}

/* //Telas 768 */
/* //Telas iPad */

@media only screen and (max-width: 768px) {

    body { 
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.746), rgba(0, 0, 0, 0.808)), url(img/fp\ mobile.gif);    
        background-position: center -11vh;
    }

    
    #texto{
        /* background-color: pink; */
        
        margin-top: 32vh;
        width: 72%;
        /* margin-top: 40vh; */
        
    
        text-align: center;
    }

    #texto > h1{
        font-size: 28px;
        width: 80%;
    }
    
    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }

    .spotify{
        border-radius: 12px;
        width: 70%;
        height: 158px; 
        
    }
}


/* //Telas 415 */
/* //Telas iPhoneXR */

@media only screen and (max-width: 415px) {


    #texto{
        /* background-color: pink; */
        
    
        width: 100%;
        margin-top: 32vh;
        
    
        text-align: center;
    }

    #texto > h1{
        font-size: 25px;
        width: 80%;
    }
    
    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
        /* background-color: red; */
    }

    .spotify{
        border-radius: 12px;
        width: 100%;
        height: 200px; 
        
    }

}

/* //Telas 360 */
/* //Telas iPhoneX */

@media only screen and (max-width: 375px) {


    #texto{
        /* background-color: pink; */
        
        margin-top: 15vh;
        width: 100%;
        /* margin-top: 37vh; */
        
    
        text-align: center;
    }

    #texto > h1{
        font-size: 25px;
        width: 85%;
        /* background-color: red; */
    }
    
    #texto2 {
        margin: auto;
        width: 100%;

        margin-top: 5px;
        margin-bottom: 15px;
    }

    .spotify{
        border-radius: 12px;
        width: 70%;
        height: 170px; 
        
    }

}